<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3rd Meet SSI Academy - Tracking System</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/my-css.css">
</head>
<body>
    <div class="container">
        <div class="row content">
            <div class="col">
                <p class="heading-s mb-2">Periksa Ongkos Kirim</p>
                <div class="form-cek">
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <p class="font-l-sb mb-3">Data Asal</p>
                                <div class="mb-3">
                                    <p class="font-m-m mb-2">Provinsi</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Pilih Provinsi</option>
                                        <option value="1">Jawa Timur</option>
                                    </select>
                                </div> <!-- option asal provinsi -->
                                <div class="mb-3">
                                    <p class="font-m-m mb-2">Kota</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Pilih Kota</option>
                                        <option value="1">Surabaya</option>
                                    </select>
                                </div> <!-- opstion asal kota -->
                            </div> <!-- col -->
                            <div class="col">
                                <p class="font-l-sb mb-3">Data Tujuan</p>
                                <div class="mb-3">
                                    <p class="font-m-m mb-2">Provinsi</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Pilih Provinsi</option>
                                        <option value="1">Jawa Timur</option>
                                    </select>
                                </div><!-- option tujuan provinsi -->
                                <div class="mb-3">
                                    <p class="font-m-m mb-2">Kota</p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Pilih Kota</option>
                                        <option value="1">Surabaya</option>
                                    </select>
                                </div><!-- opstion tujuan kota -->
                            </div> <!-- col -->

                            <div class="mb-3">
                                <p class="font-l-sb mb-2">Berat (Gram)</p>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Berat Barang">
                                </select>
                            </div><!-- option tujuan provinsi -->

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="button">Cek</button>
                            </div><!--button cek-->
                        </div> <!-- row -->
                    </form> <!-- form -->
                </div> <!-- form-cek -->
            </div><!-- col -->

            <div class="col">
                <p class="heading-s mb-2">Opsi Kurir</p>
                <div class="opsi-kurir">
                    <div class="d-flex flex-direction-row gap-2">
                        <div class="border-checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  JNE
                                </label>
                            </div>
                        </div><!--checkbox 1-->
                        <div class="border-checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  TIKI
                                </label>
                            </div>
                        </div> <!--checkbox 1-->
                        <div class="border-checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  POS
                                </label>
                            </div>
                        </div><!--checkbox 1-->
                    </div>
                </div><!--opsi kurir-->

                <p class="heading-s mb-2 mt-3">Hasil Ongkos Kirim</p>
                <div class="hasil">
                    <div class="JNE">
                        <p class="font-m-sb" id="title">JNE</p> <!--kurir title-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between mb-2">
                            <div>
                                <p class="font-m-sb">JNE OKE</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between">
                            <div>
                                <p class="font-m-sb">JNE Reguler</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                    </div>
                    <div class="TIKI mt-3 d-none">
                        <p class="font-m-sb" id="title">TIKI</p> <!--kurir title-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between mb-2">
                            <div>
                                <p class="font-m-sb">TIKI OKE</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between">
                            <div>
                                <p class="font-m-sb">TIKI Reguler</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                    </div>
                    <div class="POS mt-3 d-none">
                        <p class="font-m-sb" id="title">POS</p> <!--kurir title-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between mb-2">
                            <div>
                                <p class="font-m-sb">POS OKE</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                        <div class="card-hasil d-flex flex-direction-row align-items-center justify-content-between">
                            <div>
                                <p class="font-m-sb">POS Reguler</p> 
                                <p class="font-m-r">Ongkos Kirim Ekonomis</p>
                            </div>
                            <div>
                                <p class="font-l-sb">Rp 170.0000</p>
                            </div>
                        </div><!--detail hasil-->
                    </div>
                </div>

            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->

    <script src="../js/bootstrap.min.js"></script>
</body>
</html>